@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font: 'Montserrat';
  --secondaryfont: 'Poppins';
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--secondaryfont), sans-serif;
}


button {
  background: #FD6F00;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: var(--secondaryfont), sans-serif;
}

button:hover {
  background: rgba(255, 166, 0, 0.593);
}

.circle {
  background: linear-gradient(to right, #FFFFFF00, #FF8233);

}

.circle::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 100);
}

